<h1>Weather Addition Process</h1>

In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import requests
import json
import re
import time
import os
import sys

In [2]:
#import the weather data
df_weather = pd.read_csv('weather.csv')

In [3]:
df_weather.head()

         date  maxtemp  mintemp  sunhour  totalsnow
0  2017-01-01        7       -4      8.9        0.0
1  2017-01-02        7       -2      8.9        0.0
2  2017-01-03        8       -2      8.5        0.0
3  2017-01-04        8       -3      8.9        0.0
4  2017-01-05        5       -2      8.9        0.0

In [4]:
#put the file to be added to in here
df_data = pd.read_csv('df_test_final.csv')


df_data.columns

Index(['Unnamed: 0', 'LeadTime', 'ArrivalYear', 'ArrivalMonth', 'ArrivalDate',
       'NumWeekendNights', 'NumWeekNights', 'Parking', 'NumAdults',
       'NumChildren', 'RepeatedGuest', 'NumPrevCancellations',
       'NumPreviousNonCancelled', 'AvgRoomPrice', 'SpecialRequests',
       'isCanceled', 'RoomType_Room_Type 1', 'RoomType_Room_Type 2',
       'RoomType_Room_Type 3', 'RoomType_Room_Type 4', 'RoomType_Room_Type 5',
       'RoomType_Room_Type 6', 'RoomType_Room_Type 7', 'MealPlan_Meal Plan 1',
       'MealPlan_Meal Plan 2', 'MealPlan_Not Selected',
       'MarketSegment_Aviation', 'MarketSegment_Complementary',
       'MarketSegment_Corporate', 'MarketSegment_Offline',
       'MarketSegment_Online'],
      dtype='object')

<p>The following section normalizes the date type for the two files</p>

In [5]:
#comnine year month and date into one column 
day = df_data['ArrivalDate']
year = df_data['ArrivalYear']
month = df_data['ArrivalMonth']

In [6]:
dates = []
for i in range(0, len(day)):
    if day[i] < 10:
        if month[i] < 10:
            dates.append(str(year[i])+'-0'+str(month[i])+'-0'+str(day[i]))
        else:
            dates.append(str(year[i])+'-'+str(month[i])+'-0'+str(day[i]))
    else:
        if month[i] < 10:
            dates.append(str(year[i])+'-0'+str(month[i])+'-'+str(day[i]))
        else:
            dates.append(str(year[i])+'-'+str(month[i])+'-'+str(day[i]))

In [7]:
df_data['date'] = dates

In [8]:
#drop rows with "2018-02-28"
df_weather = df_weather[df_weather['date'] != '2017-02-28']

In [9]:
#make the date columns into the same type string
df_weather['date'] = df_weather['date'].astype(str)
df_data['date'] = df_data['date'].astype(str)

<p>Merge the two data frames</p>

In [10]:
#CHECK for any matched dates
merged_df = pd.merge(df_data, df_weather, on='date', how='left')

In [11]:
#drop Identical rows
merged_df = merged_df.drop_duplicates()

In [12]:
merged_df.shape

(7255, 36)

In [13]:
#drop unnamed column
merged_df = merged_df.drop(['Unnamed: 0'], axis=1)

In [14]:
merged_df.columns

Index(['LeadTime', 'ArrivalYear', 'ArrivalMonth', 'ArrivalDate',
       'NumWeekendNights', 'NumWeekNights', 'Parking', 'NumAdults',
       'NumChildren', 'RepeatedGuest', 'NumPrevCancellations',
       'NumPreviousNonCancelled', 'AvgRoomPrice', 'SpecialRequests',
       'isCanceled', 'RoomType_Room_Type 1', 'RoomType_Room_Type 2',
       'RoomType_Room_Type 3', 'RoomType_Room_Type 4', 'RoomType_Room_Type 5',
       'RoomType_Room_Type 6', 'RoomType_Room_Type 7', 'MealPlan_Meal Plan 1',
       'MealPlan_Meal Plan 2', 'MealPlan_Not Selected',
       'MarketSegment_Aviation', 'MarketSegment_Complementary',
       'MarketSegment_Corporate', 'MarketSegment_Offline',
       'MarketSegment_Online', 'date', 'maxtemp', 'mintemp', 'sunhour',
       'totalsnow'],
      dtype='object')

In [15]:
#print to csv 
merged_df.to_csv('df_test_final_weathered.csv')